.card {
    width: 60%;
    margin-left: 20%;
    margin-top: 80px;
    height: 100px;

    text-align: center;
    padding-top: 90px;

    background-color: chartreuse;
    color: green;
    font-weight: bold;
}