.image-container {
    position: relative;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

P {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    background-color: rgba(98, 143, 161, 0.5);
    padding: 50px ;
}