<p>
    <mat-toolbar color="primary">
        <span class="space">
            <button mat-button routerLink="/">
                Demo App
            </button>
        </span>
        <span class="space">
            <button mat-button color="accent" [matMenuTriggerFor]="menu">
                Routing example
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/first-component"> /first-component </button>
                <button mat-menu-item routerLink="/first-component/childa"> first-component/childa </button>
            </mat-menu>
        </span>
        <span class="space">
            <button mat-button color="accent" routerLink="/http-demo">
                Http request
            </button>
        </span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
</p>