<p>
    <mat-toolbar color="primary">
        <span class="space">
            <button mat-button routerLink="/">
                Demo App
            </button>
        </span>
        <span class="space">
            <button mat-button color="accent" routerLink="/first-component">
                Routing example
            </button>
        </span>
        <span class="space">
            <button mat-button color="accent">
                Heroes example
            </button>
        </span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
</p>