.center {
    margin-top: 50px;
    text-align: center;
}

nav {
    margin-bottom: 20px;
}

.active {
    color: red;
    font-weight: bolder;
}

nav ul li a {
    text-decoration: none;
}